
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #555;
    color: #fff;
}

.nav-button:active {
    background-color: #777;
}

button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}